---
import Layout from "../layouts/Layout.astro";
import lessonsData from "../../data/lessons.json";

// Sort lessons by number
const sortedLessons = [...lessonsData.lessons].sort(
    (a, b) => a.lesson - b.lesson,
);
---

<Layout title="Japanese Vocabulary Lessons">
    <main>
        <h1>Japanese Vocabulary Lessons</h1>
        <p>Select a lesson to view its vocabulary:</p>

        <div class="card-grid">
            {
                sortedLessons.map((lesson) => (
                    <a href={`/lesson/${lesson.lesson}`} class="lesson-card">
                        Lesson {lesson.lesson}
                    </a>
                ))
            }
        </div>
        <h1>Lesson Quizzes</h1>
        <div class="card-grid">
            {
                sortedLessons.map((lesson) => (
                    <a href={`/quiz/${lesson.lesson}`} class="lesson-card">
                        Lesson {lesson.lesson}
                    </a>
                ))
            }
        </div>
    </main>
</Layout>
